In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
# comparing elements of two series 
serie_1 = pd.Series([4,65,436,3,9])
serie_2 = pd.Series([7,0,3,897,9])
result = serie_1== serie_2
print(result)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [68]:
# add two series
serie_A =pd.Series([2,4,6,8,14])
serie_B =pd.Series([1,3,5,7,9])
add = serie_A + serie_B
print(add)

0     3
1     7
2    11
3    15
4    23
dtype: int64

In [69]:
#subtracting the series
subtraction = serie_A - serie_B
print(subtraction)

0    1
1    1
2    1
3    1
4    5
dtype: int64

In [70]:
# multiplying the series
product = serie_A * serie_B
print(product)

0      2
1     12
2     30
3     56
4    126
dtype: int64

In [71]:
#dividing the series
divide = serie_A / serie_B
print(divide)

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [72]:
#convert a dictionary to series 
dictionary1 = {'Josh':24,'Sam':36,'Peace':19,'Charles':65,'Tom':44}
serie = pd.Series(dictionary1)
print(serie)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [73]:
#converting series into array
Sample_serie =['Love',800,'Joy',789.9,'Peace',True]
sample_array = pd.array(Sample_serie)
print(sample_array)

<PandasArray>
['Love', '800', 'Joy', '789.9', 'Peace', 'True']
Length: 6, dtype: str1024

In [96]:
#reading csv file
cup = pd.read_csv('AfricaCupofNationsMatches.csv')

In [76]:
# reading first seven rows
cup = pd.read_csv('AfricaCupofNationsMatches.csv',nrows=7)
print(cup)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [77]:
#selecting specific rows from the dataset
row = cup[['HomeTeam','AwayTeam','HomeTeamGoals','AwayTeamGoals']]
print(row)

    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0     Sudan           Egypt            1.0            2.0
1  Ethiopia    South Africa            NaN            NaN
2     Egypt        Ethiopia            4.0            0.0
3      Egypt       Ethiopia            4.0            0.0
4     Sudan        Ethiopia            1.0            0.0
5      Egypt          Sudan            2.0            1.0
6  Ethiopia         Tunisia            4.0            2.0

In [78]:
#select rows where Egypt
egy = cup[cup.eq('Egypt').any(axis=1)]
print(egy)

   Year      Date   Time  HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3  1959  22-May-59    NaN    Egypt   Ethiopia            4.0            0.0
5  1959  29-May-59    NaN    Egypt      Sudan            2.0            1.0

              Stage SpecialWinConditions                Stadium    City  \
3  Final Tournament                  NaN  Prince Farouk Stadium   Cairo
5  Final Tournament                  NaN  Prince Farouk Stadium   Cairo

   Attendance
3     30000.0
5     30000.0

In [79]:
#counting number of rows and colums
rows_and_columns = cup.shape
print(rows_and_columns)

(7, 12)

In [80]:
#selecting rows where attendence is missing
attend = cup[['Attendance']]
attendance = attend.isnull()
print(attendance)

   Attendance
0       False
1        True
2       False
3       False
4       False
5       False
6       False

In [81]:
#select rows where hometeamgoals are between 3 and 6
home = cup[(cup['HomeTeamGoals']>=3)&(cup['HomeTeamGoals']<=6)]
print(home)

   Year      Date   Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
2  1957  16-Feb-57    NaN     Egypt    Ethiopia            4.0            0.0
3  1959  22-May-59    NaN      Egypt   Ethiopia            4.0            0.0
6  1962  14-Jan-62    NaN  Ethiopia     Tunisia            4.0            2.0

              Stage SpecialWinConditions                 Stadium  \
2             Final                  NaN       Municipal Stadium
3  Final Tournament                  NaN   Prince Farouk Stadium
6        Semifinals                  NaN  Hailé Sélassié Stadium

           City  Attendance
2      Khartoum     30000.0
3         Cairo     30000.0
6   Addis Ababa     30000.0

In [82]:
#change awayteamgoals in third row to 10
away = cup.loc[2,'AwayTeamGoals']=10
print(cup)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [83]:
#sort dataframe in ascending order by hometeam
sort = cup.sort_values(by='HomeTeam')
print(sort)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0

   AwayTeamGoals             Stage  \
3            0.0  Final Tournament
5            1.0  Final Tournament
2           10.0             Final
1            NaN        Semifinals
6            2.0        Semifinals
0            2.0        Semifinals
4            0.0  Final Tournament

                                SpecialWinConditions                 Stadium  \
3                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
2                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
6                                                NaN  Hailé Sélassié Stadium
0                                                NaN       Municipal Stadium
4                                                NaN   Prince Farouk Stadium

           City  Attendance
3         Cairo     30000.0
5         Cairo     30000.0
2      Khartoum     30000.0
1           NaN         NaN
6   Addis Ababa     30000.0
0      Khartoum     30000.0
4         Cairo     20000.0

In [84]:
#sorting in descending order by hometeamscore
score = cup.sort_values(by='HomeTeamGoals',ascending=False)
print(cup)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [85]:
#getting column headers
headers=cup.columns
print(headers)

Index(['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City',
       'Attendance'],
      dtype='object')

In [86]:
#appending a column to the dataframe
cup['TopScorer']= None
print(cup)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance TopScorer
0      Khartoum     30000.0      None
1           NaN         NaN      None
2      Khartoum     30000.0      None
3         Cairo     30000.0      None
4         Cairo     20000.0      None
5         Cairo     30000.0      None
6   Addis Ababa     30000.0      None

In [87]:
#adding two rows to dataframe
row1={'Year':2000,'Date':None,'Time':None,'HomeTeam':"Ghana",'AwayTeam':"Rwamda",'HomeTeamGoals':2,'AwayTeamGoals':0,'Stage':"Quater_Final",'SpecialWinConditions':"Home Advantage",'Stadium':"Kigali National",
      'City':"Kigali",'Attendance':1000,'TopScorer':"Uwera"}
row2 ={'Year':2009,'Date':None,'Time':None,'HomeTeam':"Uganda",'AwayTeam':"Kenya",'HomeTeamGoals':2,'AwayTeamGoals':4,'Stage':"Final",'SpecialWinConditions':"Good preparation",'Stadium':"Mandela National",
      'City':"Kampala",'Attendance':1500,'TopScorer':"Ouma"}
cup = cup.append(row1,ignore_index=True)
cup = cup.append(row2,ignore_index=True)
print(cup)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0
7  2000        NaN    NaN      Ghana         Rwamda            2.0
8  2009        NaN    NaN     Uganda          Kenya            2.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals
7            0.0      Quater_Final
8            4.0             Final

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium
7                                     Home Advantage         Kigali National
8                                   Good preparation        Mandela National

           City  Attendance TopScorer  Date  Time
0      Khartoum     30000.0      None   NaN   NaN
1           NaN         NaN      None   NaN   NaN
2      Khartoum     30000.0      None   NaN   NaN
3         Cairo     30000.0      None   NaN   NaN
4         Cairo     20000.0      None   NaN   NaN
5         Cairo     30000.0      None   NaN   NaN
6   Addis Ababa     30000.0      None   NaN   NaN
7        Kigali      1000.0     Uwera   NaN   NaN
8       Kampala      1500.0      Ouma  None  None

C:\Users\ahaab\AppData\Local\Temp\ipykernel_4528\2185353790.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cup = cup.append(row1,ignore_index=True)
C:\Users\ahaab\AppData\Local\Temp\ipykernel_4528\2185353790.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cup = cup.append(row2,ignore_index=True)

In [88]:
#changing country Uganda to China in the dataframe
column='AwayTeam'
current_value='Uganda'
new_value='Chine'
cup.loc[cup[column]==current_value,column]=new_value
print(cup)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0
7  2000        NaN    NaN      Ghana         Rwamda            2.0
8  2009        NaN    NaN     Uganda          Kenya            2.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals
7            0.0      Quater_Final
8            4.0             Final

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium
7                                     Home Advantage         Kigali National
8                                   Good preparation        Mandela National

           City  Attendance TopScorer  Date  Time
0      Khartoum     30000.0      None   NaN   NaN
1           NaN         NaN      None   NaN   NaN
2      Khartoum     30000.0      None   NaN   NaN
3         Cairo     30000.0      None   NaN   NaN
4         Cairo     20000.0      None   NaN   NaN
5         Cairo     30000.0      None   NaN   NaN
6   Addis Ababa     30000.0      None   NaN   NaN
7        Kigali      1000.0     Uwera   NaN   NaN
8       Kampala      1500.0      Ouma  None  None

In [89]:
#reset index in the dataframe
cup.reset_index(drop=True,inplace=True)
print(cup)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0
7  2000        NaN    NaN      Ghana         Rwamda            2.0
8  2009        NaN    NaN     Uganda          Kenya            2.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals
7            0.0      Quater_Final
8            4.0             Final

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium
7                                     Home Advantage         Kigali National
8                                   Good preparation        Mandela National

           City  Attendance TopScorer  Date  Time
0      Khartoum     30000.0      None   NaN   NaN
1           NaN         NaN      None   NaN   NaN
2      Khartoum     30000.0      None   NaN   NaN
3         Cairo     30000.0      None   NaN   NaN
4         Cairo     20000.0      None   NaN   NaN
5         Cairo     30000.0      None   NaN   NaN
6   Addis Ababa     30000.0      None   NaN   NaN
7        Kigali      1000.0     Uwera   NaN   NaN
8       Kampala      1500.0      Ouma  None  None

In [90]:
#checking whether stadium column is present in the dataframe
column_name ='Stadium'
if column_name in cup.columns:
    print(True)
else:
    print(False)

True

In [91]:
#converting datatype of awayteam to float
cup['AwayTeamGoals'] = cup['AwayTeamGoals'].astype(float)
print(cup)

   Year      Date   Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57    NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57    NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57    NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59    NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59    NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59    NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62    NaN  Ethiopia         Tunisia            4.0
7  2000        NaN    NaN      Ghana         Rwamda            2.0
8  2009        NaN    NaN     Uganda          Kenya            2.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals
7            0.0      Quater_Final
8            4.0             Final

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium
7                                     Home Advantage         Kigali National
8                                   Good preparation        Mandela National

           City  Attendance TopScorer  Date  Time
0      Khartoum     30000.0      None   NaN   NaN
1           NaN         NaN      None   NaN   NaN
2      Khartoum     30000.0      None   NaN   NaN
3         Cairo     30000.0      None   NaN   NaN
4         Cairo     20000.0      None   NaN   NaN
5         Cairo     30000.0      None   NaN   NaN
6   Addis Ababa     30000.0      None   NaN   NaN
7        Kigali      1000.0     Uwera   NaN   NaN
8       Kampala      1500.0      Ouma  None  None

In [92]:
#remove the last ten rows
cup.drop(cup.tail(10).index,inplace=True)
print(cup)

Empty DataFrame
Columns: [Year, Date , Time , HomeTeam, AwayTeam, HomeTeamGoals, AwayTeamGoals, Stage, SpecialWinConditions, Stadium, City, Attendance, TopScorer, Date, Time]
Index: []

In [93]:
#iterate over rows in the dataframe
for row in cup.itertuples(index=False):
    print(row)
print(cup)

Empty DataFrame
Columns: [Year, Date , Time , HomeTeam, AwayTeam, HomeTeamGoals, AwayTeamGoals, Stage, SpecialWinConditions, Stadium, City, Attendance, TopScorer, Date, Time]
Index: []

In [94]:
#change order of dataframe columns
new_order = ['Time','Date','Year','Stadium','City','Stage','AwayTeam','HomeTeam','AwayTeamGoals','HomeTeamGoals','Attendance','SpecialWinCondition','TopScorer','Time','Date']
cup = cup.reindex(columns=new_order)
print(cup)

Empty DataFrame
Columns: [Time, Date, Year, Stadium, City, Stage, AwayTeam, HomeTeam, AwayTeamGoals, HomeTeamGoals, Attendance, SpecialWinCondition, TopScorer, Time, Date]
Index: []

In [97]:
col = 'HomeTeamGoals'
rows = cup[cup[col]==0]
print(rows)

     Year                      Date   Time      HomeTeam       AwayTeam  \
19   1965                  14-Nov-65    NaN     Senegal         Tunisia
24   1965                  21-Nov-65    NaN     Senegal     Ivory Coast
70   1972                   2-Mar-72    NaN    Cameroon           Congo
88   1974                  11-Mar-74    NaN       Congo           Egypt
113  1978                  10-Mar-78    NaN      Zambia         Nigeria
..    ...                        ...    ...          ...            ...
609  2019   6 July 2019 (2019-07-06)  21:00       Egypt    South Africa
612  2019   8 July 2019 (2019-07-08)  18:00        Mali     Ivory Coast
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage SpecialWinConditions  \
19             0.0            0.0               Group A                  NaN
24             0.0            1.0     Third place match                  NaN
70             0.0            1.0            Semifinals                  NaN
88             0.0            4.0     Third place match                  NaN
113            0.0            0.0               Group A                  NaN
..             ...            ...                   ...                  ...
609            0.0            1.0           Round of 16                  NaN
612            0.0            1.0           Round of 16                  NaN
617            0.0            3.0        Quarter-finals                  NaN
620            0.0            1.0  Third place play-off                  NaN
621            0.0            1.0                 Final                  NaN

                         Stadium      City  Attendance
19          Stade Chedli Zouiten     Tunis         NaN
24          Stade Chedli Zouiten     Tunis         NaN
70              Stade Omnisports   Yaoundé         NaN
88   Cairo International Stadium     Cairo         NaN
113         Accra Sports Stadium     Accra     25000.0
..                           ...       ...         ...
609  Cairo International Stadium     Cairo     75000.0
612                 Suez Stadium      Suez      7672.0
617             Al Salam Stadium     Cairo      7568.0
620             Al Salam Stadium     Cairo      6340.0
621  Cairo International Stadium     Cairo     75000.0

[128 rows x 12 columns]